<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
</head>
<body>
    <div id="app">
        <el-page-header @back="goBack" content="家庭设置"></el-page-header>
        <el-divider></el-divider>
        <template>
            <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="家庭列表" name="home">
                    <el-row style="text-align: right">
                        <el-button type="primary" style="margin-bottom: 15px; margin-right: 20px" @click="showCreateFamily"><i class="el-icon-plus"></i> 添加家庭</el-button>
                    </el-row>
                    <template>
                        <el-table
                                :data="familyData"
                                border
                                style="width: 100%">
                            <el-table-column
                                    prop="id"
                                    label="ID">
                            </el-table-column>
                            <el-table-column
                                    prop="familyName"
                                    label="家庭名称">
                            </el-table-column>
                            <el-table-column
                                    label="操作">
                                <template slot-scope="scope">
                                    <el-button type="text" size="small" @click="invite(scope.row)">邀请</el-button>
                                    <el-button type="text" size="small" @click="showEditFamilyDialog(scope.row)">编辑</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </el-tab-pane>
                <el-tab-pane label="开销类目" name="category">开销类目</el-tab-pane>
                <el-tab-pane label="预算设置" name="budget">预算</el-tab-pane>
            </el-tabs>
        </template>
        <el-dialog title="创建家庭" :visible.sync="createFamilyDialogVisible">
            <el-form :model="createFamilyForm">
                <el-form-item label="家庭名称" label-width="120px">
                    <el-input v-model="createFamilyForm.name" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="createFamilyDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="createFamily">创 建</el-button>
            </div>
        </el-dialog>
        <el-dialog title="编辑家庭" :visible.sync="editFamilyDialogVisible">
            <el-form :model="editFamilyForm">
                <el-form-item label="家庭名称" label-width="120px">
                    <el-input v-model="editFamilyForm.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="家庭成员" label-width="120px">
                    <el-tag
                            v-for="tag in editFamilyForm.member"
                            :key="tag.name"
                            closable
                            :type="tag.type"
                            @close="removeFamilyMember(tag)"
                            style="margin-right: 10px">
                        {{tag.name}}
                    </el-tag>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="editFamilyDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="editFamily">修 改</el-button>
            </div>
        </el-dialog>
    </div>

</body>
<script>
    var k = new Vue({
        el: '#app',
        data: {
            activeName: 'home',
            createFamilyDialogVisible: false,
            editFamilyDialogVisible: false,
            createFamilyForm: {},
            editFamilyForm: {
                name: "我的小窝",
                member: [
                    { name: '标签一', type: '' },
                    { name: '标签二', type: 'success' },
                    { name: '标签三', type: 'info' },
                    { name: '标签四', type: 'warning' },
                    { name: '标签五', type: 'danger' }
                ]
            },
            familyData: [{
                id: '1',
                name: '我的小窝',
                creator: 'panda',
            }, {
                id: '1',
                name: '我的小窝',
                creator: 'panda',
            }]
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            },
            showCreateFamily: function() {
                this.createFamilyDialogVisible = true;
            },
            showEditFamilyDialog: function() {
                this.editFamilyDialogVisible = true;
            },
            removeFamilyMember(tag) {
                this.editFamilyForm.member.splice(this.editFamilyForm.member.indexOf(tag), 1);
            },
            createFamily: function() {
                axios.post("/family/createFamily", {
                    familyName: this.createFamilyForm.name
                }).then(function (value) {
                    var result = value.data;
                    if (result.status == 1) {
                        k.$message({
                            message: result.msg,
                            type: 'success'
                        });
                        k.createFamilyDialogVisible = false;
                        k.refreshFamily();
                    } else {
                        k.$message.error(result.msg);
                    }
                });
            },
            editFamily: function() {
                alert("修改");
            },
            goBack() {
                window.parent.k.jumpPage();
            },
            refreshFamily: function () {
                axios.get("/family/getFamilyList").then(function (value) {
                    var result = value.data;
                    if (result.status == 1) {
                        k.familyData = JSON.parse(result.data);
                    } else {
                        k.$message.error(result.msg);
                    }
                });
            }
        },
        created: function () {
            this.refreshFamily();
        }
    });
</script>
</html>